@charset "utf-8";

html, body {
    font-family: 'Yekan', 'Open Sans', 'Montserrat' !important;
}

.no-script {
    direction: rtl;
}

select {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
